*{
    margin: 0;
    padding: 0;
    justify-content: center;
}
body{
    background-color: #dedede;
}
.circle{
    height: 50vh;
    width: 50vh;
    background-color: rgba(255, 0, 0, 0.699);
    margin: auto;
    margin-top: 25vh;
    border-radius: 50%;
    position: relative;
    animation: animateframe 8s 4;
}
.love{
    background-color: transparent;
    height: 40vh;
    position: absolute;
    position: relative;
    width: 40vh;
    left: 5vh;
    top: 5vh;
    border-radius: 50%;
    animation: animatelove 4s 4;
}
.fasset{
    position: absolute;
    height: 25vh;
    width: 25vh;
    background-color: white;
    transform: rotate(45deg);
    border-radius: 100% 10% 0% 10%;
    left: 7vh;
    top: 9vh;
}
.sasset{
    background-color: white;
    height: 20vh;
    width: 20vh;
    position: absolute;
    transform: rotate(45deg);
    top: 6vh;
    left: 0.5vh;
    border-radius: 50% 0% 0% 50%;
}
.tasset{
    background-color: white;
    height: 20vh;
    width: 20vh;
    position: absolute;
    transform: rotate(45deg);
    top: 6vh;
    right: 1.4vh;
    border-radius: 50% 50% 0% 0%;
}
@keyframes animatelove {
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(.8)
    }
    100%{
        transform: scale(1);
    }
}
@keyframes animateframe{
    40%{
        background-color: rgba(255, 255, 255, 0.411);
    }
    100%{
        background-color: rgb(118, 118, 248);
    }
}